.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* Safari */
    /*background-color: rgba(255, 255, 255, 0.1); !* Opcional: tinte semitransparente *!*/
    border-radius: 0 0 1rem 1rem;
}

.footer {
    padding: .5rem;
    background-color: var(--primary-color);
    color: var(--text-dark-color);
    font-size: var(--font-size-xs);
}

.page {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 1fr auto;
    word-break: break-word;
}

.main {
    margin: 0 1rem;
}

.content-visibility--auto {
    content-visibility: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-titles), serif;
    letter-spacing: 0.25rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    margin-bottom: 1rem
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}

input, button, textarea, select {
    font: inherit;
}

p {
    line-height: var(--line-height);
    text-wrap: pretty;
    margin-bottom: 1rem;
}

img, video, svg, canvas, audio, iframe, embed, object {
    height: auto;
    max-width: 100%;
}

body {
    min-height: 100dvh;
    color: var(--text-light-color);
    background-color: var(--bg-light-color);
    color: var(--current-text);
    background-color: var(--current-bg);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

html {
    scroll-behavior: smooth !important;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        transition: none;
        scroll-behavior: auto !important;

    }
    html {
        scroll-behavior: smooth !important;
    }
}
