:root {
    --primary-color: #4BCE97;
    --bg-dark-color: #222222;
    --bg-light-color: #F6F6F6;
    --text-dark-color: #F6F6F6;
    --text-light-color: #222222;
    --font-family: 'GoogleSansCode', sans-serif;
}
